extends layout 

block content
    h1 SignUp
    .container 
        form(action="/users/signup" method="post")
            div.form-group
                label(for="name") Name
                input(type="text" ,class="form-control" ,id="name" ,name="name" ,placeholder="Enter Name" ,required)
            br
            div.form-group
                label(for="description") Email
                input(type="email" ,class="form-control" ,id="email" ,name="email" ,placeholder="Email",required)
            br
            div.form-group
                label(for="password") Password
                input(type="password" ,class="form-control" ,id="pass" ,name="password" ,placeholder="Password",required)
            br
            div.form-group
                label(for="gender") Gender
                input(type="text" ,class="form-control" ,id="gender" ,name="gender" ,placeholder="Gender",required)
            br
            button.btn.btn-primary(type="submit") SignUp