body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table thead{
  background-color: #024a49;
  color: white
}

.btn-primary{
  background-color: #03aba9 !important;
  color: white !important;
  border: 1px solid #024a4944 !important;
}

table tr:nth-child(even){
  background-color: #024a49a2;
  color: white;
}

.table>:not(caption)>*>*{
  padding: 2em 1em !important;
}

.navbar{
  background-color: #024a49 !important;
  color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link,.navbar-brand{
  color: white !important;
  display: inline;
}